body {
	width: 100%;
	font-family: 'Arial';
	height: 500px;
	margin: auto;
	cursor: url('cursor.png'), auto;
}

.welcome-screen {
	color: teal;
	font-size: 4em;
	text-align: center;
	letter-spacing: -1px;
	margin: auto;
	vertical-align: middle;
	padding-top: 250px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.welcome-guest-name,
.home-catalog,
.catalog-explorer,
.catalog-explorer-controls {
	display: none;
}

.home-catalog {
	display: none;
	width: 1700px;
	height: 98%;
}

.catalog-box {
	width: 180px;
	height: 180px;
	background-image: url('test.jpg');
	float: left;
	margin: 20px;
	border-radius: 120px;
	border: 6px solid teal;
}

.catalog-box:focus, .catalog-box:hover {
	cursor: url('click.png'), pointer;
}

.catalog-explorer img {
	width: 200px;
	border: 5px solid #fff;
	-webkit-transition: transform 3s ease-in-out;
	-moz-transition: transform 3s ease-in-out;
	-o-transition: transform 3s ease-in-out;
	transition: transform 3s ease-in-out;

	position: absolute;

	box-shadow: 0px 0px 6px #333;
}

img.single-image {
	left: 20px;
	top: 20px;
}

img.single-video {
	left: 20px;
	top: 500px;
}

img.single-document {
	left: 1000px;
	top: 20px;
}

img.single-video.rotate-image {
	transform: rotate(12deg);
}

img.single-document.rotate-image {
	transform: rotate(12deg);
}

.rotate-image {
	transform: rotate(-7deg);
	width: 250px;
}

.catalog-explorer {
	background-image: url('wood.jpg');
	background-size: cover;
}

img.no-show {
	display: none;
}

.popup-background {
	z-index: 10;
	position: fixed;
	height: 100%;
	display: none;
	width: 100%;
	background: #000000;
	top: 0px;
	left: 0px;
	opacity: 0;
	
	-webkit-transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;	
}

.popup-background.show-popup-background {
	opacity: 0.8;
	display: block;
}

.is-zoomed {
	z-index: 20;
}

iframe {
	z-index: 25;
	position: absolute;
}

.three-muscateers-text {
	font-family: 'Georgia', serif;
	display: none;
	position: absolute;
	line-height: 2em; 
	z-index: 25;
	background-color: #fff;
	padding: 40px;
}
